body {
    font-family: "Lato", sans-serif;
}

.bottom-bar {
    bottom: 2%;
}

#requestingCameraIcon {
    display: none !important;
}

#requestingCameraPermissions {
    background-color: transparent !important;
    color: white !important;
    text-align: center;
    font-size: 25px !important;
}

.button-primary-8w {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

#loadBackground {
    background-color: black !important;
    background-image: url('assets/logo.png');
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 170%;
}

.poweredby-img {
    display: none !important;
}
