body {
  font-family: "Lato", sans-serif;
}

#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 50%;
}

#sidebar a {
  padding: 8px 15px 8px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

#sidebar .closebtn {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 25px;
  margin-left: 50px;
  color:  #ffffff;
}

.slider {
  position: absolute;
  -webkit-appearance: none;
  transform: rotate(90deg);
  top: 50%;
  left: -128%;
  width: 350%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

#main {
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 2.4%;
  transform: translate(-50%, 0);
  z-index: 10;
  display: block;
}

.openbtn {
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

#container {
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 10;
    display: block;
  }